# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude data directory
/data/
sapnhapbando_geojson/
geojson_11Mar2026/mapserver/Du_An_WebAtlas_Nhom/05_DEM.tif
mapserver/Du_An_WebAtlas_Nhom/06_HillShade.tif
